<nz-sider *ngIf="activateSider" nzCollapsible nzBreakpoint="md" [nzCollapsedWidth]="0" style="background: #54565A">
  <ng-container *ngTemplateOutlet="menu"></ng-container>
</nz-sider>

<nz-layout class="app-layout">
  
  <nz-header class="ant-layout-header">
    <div nz-row *ngIf="activateSider">
      <div nz-col nzSpan="22">
        <div nz-row nzJustify="center">
          <ng-container *ngTemplateOutlet="logo"></ng-container>
        </div>
      </div>
      <div nz-col nzSpan="2">
          <ng-container *ngTemplateOutlet="userTemplate"></ng-container>
      </div>
    </div>
    <div nz-row *ngIf="!activateSider">
      <div nz-col nzSpan="2">
        <ng-container *ngTemplateOutlet="logo"></ng-container>
      </div>
      <div nz-col nzSpan="16">
        <div nz-row nzJustify="center">
          <ng-container *ngTemplateOutlet="menu"></ng-container>
        </div>
      </div>
      <div nz-col nzSpan="6">
          <ng-container *ngTemplateOutlet="userTemplate"></ng-container>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <nz-card style="width:100%;" nzSize="small" [nzBodyStyle]="{padding: '0px'}">
        <nz-page-header class="site-page-header" [nzTitle]="currentRoute.name" [nzSubtitle]="currentRoute.subtitle"></nz-page-header>
      </nz-card>
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <!-- <nz-footer>Hive Insights ©2023 Implement By J Lazy Y</nz-footer> -->
</nz-layout>

<ng-template #logo>
  <img src="assets/logo.svg">
</ng-template>

<ng-template #menu>
  <ul nz-menu nzTheme="dark" [nzMode]="activateSider ? 'inline' : 'horizontal'">
    <li nz-menu-item nzMatchRouter *ngFor="let route of routes">
      <a [routerLink]="route.path">{{route.name}}</a>
    </li>
  </ul>
</ng-template>

<ng-template #userTemplate>
  <div nz-row nzJustify="end">
    <div  *ngIf="!activateSider" nz-col nzSpan="3" ><img style="cursor: pointer;" src="assets/icons/search.svg"></div>
    <div *ngIf="!activateSider" nz-col nzSpan="3"><img style="cursor: pointer;" src="assets/icons/bell.svg"></div>
    <div *ngIf="!activateSider" nz-col nzSpan="3"><img style="cursor: pointer;" src="assets/icons/help.svg"></div>
    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4">
      <nz-avatar
        style="cursor: pointer;"
        [nzShape]="'square'"
        [nzSize]="'large'"
        [nzIcon]="'user'"
        nz-popover
        [nzPopoverTitle]="user.userName"
        [nzPopoverContent]="contentUserMenu"
        nzPopoverPlacement="leftBottom"></nz-avatar>
        <ng-template #contentUserMenu>
          <div>
            <p *ngIf="activateSider" class="color-menu-option" style="cursor: pointer;">Search</p>
            <p *ngIf="activateSider" class="color-menu-option"  style="cursor: pointer;">Notifications</p>
            <p *ngIf="activateSider" class="color-menu-option"  style="cursor: pointer;">Help</p>
            <p class="color-menu-option"  style="cursor: pointer;" (click)="loggout()"> Logout</p>
          </div>
        </ng-template>
    </div>
  </div>
</ng-template>
