<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>J Lazy Y</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item nzMatchRouter *ngFor="let route of routes">
        <a [routerLink]="route.path">{{route.name}}</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="position: fixed;">
      <div nz-row class="app-header">
        <div nz-col nzSpan="2">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
          </span>
        </div>
          <div nz-col nzSpan="15">
            <ng-container *ngTemplateOutlet="userMenu"></ng-container>
          </div>
        </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <nz-card style="width:100%">
          <nz-page-header class="site-page-header" [nzTitle]="currentRoute.name" [nzSubtitle]="currentRoute.subtitle"></nz-page-header>
        </nz-card>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<ng-template #userMenu>
  <div nz-row style="color: white" [nzJustify]="'end'">
    <button style="height: 64px; background: #001628; color: white; border-color: #001628;" nz-button nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'">
      <span nz-icon nzType="user" nzTheme="outline" ></span>
      <span>{{user.userName}}</span>
    </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="loggout()">
            <span nz-icon nzType="logout" nzTheme="outline"></span>
            <span style="margin: 10px" >Loggout</span>
          </li>
        </ul>
      </nz-dropdown-menu>
  </div>
</ng-template>
